.hero {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.content {
    max-width: 1624px;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/assets/backgr.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
}

.content div {
    margin-top: 200px;
    width: 50%;

}

.content h2 {
    font-size: 3rem;
}

.content p {
    margin-top: 20px;
    font-size: 16px;
}

.content button {
    padding: 15px 30px;
    background-color: #fff;
    border: none;
    font: 600 16px "Plus Jakarta Sans", sans-serif;
    cursor: pointer;
    margin-top: 20px;
}