.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Example background color */
    height: 80px;
    padding: 2px 30px;
    /* position: fixed; */
    background-color: #ffffff
}




.logo {
    display: flex;
    align-items: center;
}

.nav_toggler {
    display: none;
}

.nav_toggler .icon {
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.logo img {
    width: 200px;
}

nav svg {
    width: 30px;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.nav_links li {
    /* display: inline-block;
    margin-right: 20px; */
    font-weight: 500;
    cursor: pointer;
}

.nav_links li a {
    text-decoration: none;
    color: black;

}

@media (max-width: 760px) {
    .nav_links {
        position: fixed;
        /* top: 7vh; */
        right: 0;
        height: 50vh;
        width: 50vw;
        background: rgb(5, 5, 5);
        opacity: 0.93;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav_toggler {
        display: block;
        margin-right: 10px;
    }

    .nav_links li {
        border-bottom: 2px solid white;

    }

    .nav_links li a {
        color: #ffffff;
    }

    .header {
        padding: 2px 10px;
    }
}

/* Nav actice class */
.nav_active {
    transform: translateX(0);
}